<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div id="messages" class="<%= 'alert' if name != :notice %>">
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
 <% end %>
