<div class="trans-bg" id="sidebar">
  <%= render :partial => "coursesurveys/quick_nav" %>
</div>
<div id="main">
  <h1>Course Guides</h1>
  <p>
    We offer a comprehensive course guide for all undergraduate level EECS courses here.
  </p>
  <h2>Prerequisite Charts</h2>
  <p>(Click on a course in the images below to see the relevant course guide)</p>
  <%= render :partial => "eemap" %>
  <br/>
  <%= render :partial => "csmap" %>
</div>
