<h1>Confirm RSVPs for <%= @role %></h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Date</th>
  </tr>

<% @events.each do |event| %>  
  <tr>
    <td><%= link_to event.title, confirm_rsvps_path(@role, event) %></td>
    <td><%= event.start_time.strftime('%a %m/%d/%Y') %></td>
  </tr>
<% end %>
</table>
