<h1>Bridge Admin</h1>

<ul>
  <li><%= link_to 'Photo Upload', admin_bridge_officer_index_path %></li>
  <li><%= link_to 'Slideshow Upload', new_slideshow_path %></li>
  <li><%= link_to 'Yearbook Upload', new_yearbook_path %></li>
</ul>
