<div class="trans-bg" id="sidebar">
  <%= render :partial => "quick_nav" %>
</div>
<div id="main">
  <h1>Course Surveys</h1>
  <p>
    Course survey data for all undergraduate and graduate level EECS courses are available here.
  </p>
  <p>
    There are hundreds of thousands of pages, so, although most aspects work fine, there may be errors of which we are unaware.  If you spot an error, especially a missing class or professor, or have a suggestion for the site, please email www-coursesurvey@hkn.
  </p>
  <h2>Prerequisite Charts</h2>
  <p>(Click on a course in the images below to see its ratings)</p>
  <%= render :partial => "eemap" %>
  <br/>
  <%= render :partial => "csmap" %>
</div>
