<h1>Here is a download link to our resume book. Enjoy!.</h1>
<%= link_to "Download pdf", @link, :style => "height:100px; width:500px" %>

<div>
<%= @link %>
</div>


<p>Note that you will not be able to see this page again.  If you forget your link please check your email assocaited with your paypal account or if something else is wrong please email indrel@hkn.eecs.berkeley.edu.</p>