<h1>Candidate Quiz</h1>
<p>Your score on this examination will factor into your application for candidacy (not curved!). Feel free to discuss your answers with other candidates and officers. Be as specific as you can - your answers are auto-graded so make sure they are complete and <b>spelled correctly</b>. Also please provide numerical answers when appropriate. Your form answers will be saved if you submit, so feel free to partially fill out the quiz! Only your final submission will be scored.</p>

<p>Some good answer sources: hkn.eecs.berkeley.edu and hkn.org</p>

<%= form_tag "submit_quiz" do %>
  <ol>
    <% QuizQuestion.all.each do |question| %>
      <li>
      <%= question.question %>
      <%= text_field_tag(('q' << question.id.to_s).to_sym, @quiz_resp[('q' << question.id.to_s).to_sym]) %>
      </li>
    <% end %>
  </ol>

  <%= submit_tag "Save Responses" %>
<% end %>
