<h1>Sign up for a Department tour!</h1>
<p>
HKN provides tours of the Berkeley EECS department. Sign up here, and your request will be sent to the HKN officer corps. If you have any special requests, list them in the additional comments section. Tours are offered during our open hours (MTWRF, 10am-6pm). Please allow three days for confirmation.
</p>

<%= render 'form' %>
