// Place all the styles related to the Candidate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_status {
  display: inline-block;
  width: 16px;
  height: 16px;
  position:relative;
  top: 4px;
}

.event_notdone {
  background:url('/images/unchecked.jpg');
  background-size: 100%;
}

.rejected {
  background:url('/images/crossed_out.jpg');
  background-size: 100%;
}

.event_done {
  background:url('/images/checkbox.png');
  background-size: 100%;
}
