<h1>Editing exam</h1>

<%= render 'form' %>

<%= link_to 'Show', @exam %> |
<%= link_to 'Back', exams_path %> |
<%= link_to 'Destroy this exam', @exam, method: :delete, data: { confirm: 'Are you sure?' } %>

