<h1>Browse Exams by Department</h1>

<% @dept_courses.each do |dept_name, courses| %>
<div class="exam_table">
  <table class="table">
    <tbody>
      <tr>
        <th class="dept_name"><%= dept_name %></th>
      </tr>
      <% courses.each do |course| %>
      <tr>
        <% if @counts[course.id] != 0 %>
          <td><%= link_to "#{course.course_abbr} - #{@counts[course.id]} exam(s)", exams_course_path(course.department.downcase, course.course_name.downcase) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<div class="clear"></div>