<h1>New exam</h1>

<h2> If you'd like to edit an exam please fill in the information normally but leave the file blank, you'll get redirected if the exam is in the database </h2>

<%= render 'form' %>

<%= link_to 'Back', exams_path %>
